<div class="m-2">
    <form>
        <p><b>Test</b></p>

        <button @onclick="Close">Close</button>

</form>
</div>

@code {
    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; }

    private async Task Close() => await BlazoredModal.CloseAsync();
}
